.nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 50px;
  }
  
  .navIconImage {
    height: 50px; 
    width: 50px;  
    margin: 5px;
    cursor: pointer;
  }
  
  .navItems {
    display: flex; 
    align-items: center;
  }
  
  .navShoppingCart, .navCheckout {
    padding: 5px;
    margin: 0 10px; 
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  .navIconImage {
    margin-left: 10px;
  }

  .navHeader{
    font-size: 18pt;
    color: white;
    text-align: center;
    margin-left: 250px;
  }
  
